<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Andreas Johansson</string>
	<key>CFBundleDisplayName</key>
	<string>Add to Transmission</string>
	<key>CFBundleIdentifier</key>
	<string>se.zanmato.addtotransmission</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>se.zanmato.addtotransmission.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>se.zanmato.addtotransmission.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Easily add torrents to Transmission</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/zanmato/Add-to-Transmission/raw/master/Update.plist</string>
	<key>Website</key>
	<string>http://www.zanmato.se</string>
</dict>
</plist>
