/** Reset */
div.att-bubble {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div.att-bubble {
	background: #101010 !important;
	border: 5px solid #101010 !important;
	border-radius: 10px;
	color: #fff !important;
	font-family: "Lucida Grande" !important;
	font-size: 16px !important;
	text-align: center;
	min-width: 120px;
	opacity: 0;
	position: absolute;
	padding: 5px !important;
	z-index: 100;
	-webkit-transition: opacity 3s linear;
	-webkit-transition-delay: 1.5s;
}

div.att-bubble:before {
	border: 10px solid transparent;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	width: 0;
	z-index: 100;
}

div.att-bubble.top:before {
	bottom: -22px;
	left: 50%;
	margin-left: -10px;
	border-top-color: #101010 !important;
}

div.att-bubble.bottom:before {
	top: -22px;
	left: 50%;
	margin-left: -10px;
	border-bottom-color: #101010 !important;
}

div.att-bubble.left:before {
	top: 50%;
	margin-top: -10px;
	right: -22px;
	border-left-color: #101010 !important;
}

div.att-bubble.right:before {
	top: 50%;
	margin-top: -10px;
	left: -22px;
	border-right-color: #101010 !important;
}